@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");


.singin_container{
    display: flex;
    height: 83vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url('./Images/bg.webp');
    background-blend-mode: darken;
    background-size: cover;
    background-attachment: fixed;
}

.singin_form_block{
    padding: 50px 30px;
    border-radius: 20px;
    background-color: #fff;
    min-width: 500px;    
}

.card_title {
    text-align: center;
    padding: 10px;
  }
  
  .card_title h1 {
    font-size: 26px;
    font-weight: bold;
  }
  
  .form input {
    margin: 10px 0;
    width: 100%;
    background-color: #e2e2e2;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
  }
  
  .form button {
    background-color: #4796ff;
    color: #ffffff;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    width: 100%;
  }
  
  .card_terms {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .card_terms input[type="checkbox"] {
    background-color: #e2e2e2;
  }
  
  .card_terms span {
    margin: 5px;
    font-size: 13px;
  }
  
  .btn_submit{
    background-color: #F29F27 !important;
    font-weight: 500;
    border: solid 2px #F29F27 !important;
    transition: all;
    transition-duration: .3s;
  }

  .btn_submit:hover{
    background-color: #000 !important;
    font-weight: 500;
    color: #fff;
    border: solid 2px #000 !important;
  }